*{
    padding: 0; /*padding: 0; встановлює значення 0 для відступів всередині елемента, щоб уникнути непотрібного простору між вмістом та межами елементів.*/
    margin: 0;/*margin: 0; встановлює значення 0 для зовнішніх відступів елемента, щоб уникнути непотрібного простору між елементами на сторінці.*/
    box-sizing: border-box;/*box-sizing: border-box; встановлює, що ширина та висота елемента включають в себе розміри контенту, плюс внутрішні відступи та рамку, а не додається до них. */
    font-family:  "Poppins", sans-serif;/*font-family: "Poppins", sans-serif; встановлює шрифт для тексту на сторінці.*/
}/*правила, які будуть застосовані до всіх елементів на веб-сторінці.*/


body{
    background-color: #f4c531;/*background-color: #f4c531; встановлюємо значення #f4c531 для кольору блоку body.*/
}/*правила, які будуть застосовані до блоку body.*/

.wrapper{
    box-sizing: border-box;/*  встановлюємо як розраховується розмір елемента - включаючи внутрішні відступи та рамку (border).*/
    width: 26.87em;/*  встановлюємо ширину елемента в 26.87em.*/
    padding: 2.5em 3em;/*встановлюємо внутрішні відступи для елемента зверху та знизу - 2.5em і зліва та справа - 3em.*/
    background-color: #ffffff;/*встановлюємо колір фону елемента на #ffffff, тобто білий.*/
    position: absolute;/*встановлюємо позицію елемента як абсолютну.*/
    transform: translate(-50%,-50%);/*задаємо трансформацію елемента з допомогою функції translate.*/
    left: 50%;/*встановлюємо відстань елемента від лівого краю сторінки на 50%.*/
    top: 50%;/*встановлюємо відстань елемента від верхнього краю сторінки на 50%.*/
    border-radius: 0.75em;/*встановлюємо радіус кутів для рамки елемента на 0.75em, тобто зроблює їх немного закругленими.*/
    box-shadow: 0 0.9em 2.8em rgba(86,66,0,0.2);/*встановлюємо тінь для елемента.*/
}/*правила, які будуть застосовані до класу wrapper(головна обгортка нашої гри)*/

.game-container{
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;

}
.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.card-before,.card-after{
    position: absolute;
    border-radius: 5px;
}

img{
    width: 50%;
}

